$font-stack: 'Raleway', sans-serif;
.splash-image {
  top: 50px;
  margin-bottom: 25px;
  margin-top: -2%;
  width: 100%;
  height: 700px;
}


/*.basic {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}*/
#splash-carousel {
  opacity: 0.7;
}

#big-logo {
  margin: 0 auto;
  height: 100px;
}

.middle-logo {
  width: 505px;
  margin-top: 49px;
}

#slogan-with-search {
  width: 800px;
  text-align: center;
  top: 300px;
}

#slogan:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  height: 100%;
}

#slogan {

}

#slogan-phrase {
  margin-bottom: 80px;
  font-family: $font-stack;
  vertical-align: middle;
  color: white;
  text-shadow: 0px 2px 3px #555;
  font-size: 28px;
}

.landing-button {
  background-color: #cd1b4e;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 18px;
}


