.splash-image {
  margin-bottom: 25px;
  margin-top: -2%;
  width: 100%;
}

.landing-button {
  background-color: #cd1b4e;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 18px;
}