$lightGrey: #ebebeb;

#marketplace {
  width: 100%;
  background-color: $lightGrey;
}

#marketplace-search-container {
  /*position: fixed;*/
  margin-top: 80px !important;
  margin-left: 220px !important;
  width: 900px;
  height: 50px;
  display: inline-block;
  /*margin: 0 auto;*/
}

#marketplace-items-container {
  margin-left: 220px !important;
}

ul#filters {
  display: inline-block;
  margin-left: 300px;
  border: solid 1px black;
  list-style: none;
  width: 300px;
  padding: 0;
  margin-left: 20px;
  border-radius: 50px;
}

#filters-header {
  width: 100%;
  border-bottom: 1px solid black;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: white;
  font-size: 16px;
  background-color: black;
}

li.category {
  /*padding-left: 20px;*/
  padding: 5px 0;
}
/*li.category:first-of-type {
  padding-top: 10px;
}
li.category:last-of-type {
  padding-bottom: 10px;
}*/
li.category:hover {
  color: #cd1b4e;
  cursor: pointer;
}

.marketplace-button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  bottom: .5em;
}

.post-item-button {
    background-color: #CD1B4E;
    color: white;
    border: 2px solid;
    position: relative;
    z-index: 0;

}

.authorizePopUp {
  position: absolute;
  bottom: 3em;
}

.post-item-button:hover {
    background-color: #CD1B4E;
    color: black;
}
.postAuthaccept-button,
.postAuthdecline-button {
  background-color: #CD1B4E;
  border: none;
  color: white;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn {
  position: relative;
}
.postAuthaccept-button {
  position: relative;
  bottom: 5%;
  top: 3em;
  left: .5em;
}

.postAuthdecline-button {
  position: relative;
  left: 12em;
  top: 2em;
}

h3 {
  color: black;
}

.subCategories {
  position: absolute;
  bottom: 25%
}

.categories {
  position: absolute;
  bottom: 35%;

}
.imageUp {
  position: absolute;
  bottom: 30%;
}

.modal-post-item-button {
  position: absolute;
  top: 40%;
}

.postButton {
  position: absolute;
  top: 80%;
  width: 100%;
}

.postSubCategories {
    position: absolute;
    top: 67%;
}
.postCategories {
  position: absolute;
  top: 57%;
}

#label-sort-by-filter {
  margin-left: 80px;
  text-align: center;
}

.styled-select {
  /*background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;*/
  height: 34px;
  overflow: hidden;
  width: 240px;
  margin-left: 10px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.semi-square {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px !important;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}
