
.search {
  width: 500px;
  position: relative;
  margin-top: -80%;
  display: inline-block;
}

#search-input {
  /*float: left;*/
  height: 34px;
  width: 500px;
  border: 3px solid #cd1b4e;
  padding: 5px;
  border-radius: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;  
  outline: none;
  color: #9DBFAF;
}

#search-input:focus{
  color: #00B4CC;
}

#search-button {
  position: absolute;  
  /*right: 0%;*/
  width: 34px;
  height: 34px;
  border: 1px solid #cd1b4e;
  background: #cd1b4e;
  text-align: center;
  color: #fff;
  border-radius: 5px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.message, .no-message {
  color: black;
  width: 300px;
  border-bottom: 0.5px solid #ccc;
  padding: 5px 10px;
}

.no-message {
  text-align: center;
  border-bottom: none;
}

.message:hover {
  background-color: rgba(209,155,61,.5);
  cursor: pointer;
}

.message:last-child {
  border-bottom: none;
}

.message .subject {
  color: #cd1b4e;
  font-size: 14px;
}
.message .sender {
  font-size: 11px;
}

#message-request-text {
  text-align: center;
}

.modal-accept-button,
.modal-decline-button {
  padding: 15px;
  font-size: 18px;
  border-radius: 5px !important;
  margin: 20px auto;
  /*display:inline;*/
  border: 2px #cd1b4e solid;
}
.modal-accept-button {
  color: #cd1b4e;
  background-color: white;
  margin: 0 20px 0 175px;
}
.modal-decline-button {
  color: white;
  background-color: #cd1b4e;
}
.modal-accept-button:hover,
.modal-decline-button:hover {
  cursor: pointer;
  opacity: .5;
}