
#messagebox {
  /*position: absolute;*/
  /*display: inline-block;*/
  /*float: left;*/
  width: 400px;
  border: 2px solid;
  background: white;
  vertical-align: top;
  margin-left: 20px;
}
#messagebox-header {
  border-bottom: 1px solid black;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #555;
  font-size: 16px;
  background-color: black;
}
#inbox,
#outbox {
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
  /*background-color: white;*/
  /*border: 1px solid #aaa;*/
  border-top-left-radius: 50px;
}
#inbox {
  border-right: 1px solid white;
}
#inbox:hover,
#outbox:hover {
  cursor: pointer;
}
#inbox.current,
#outbox.current {
  color: #fbbe4a;

}
.message {
  padding: 5px 20px;
  border-bottom: solid 1px #aaa;
}
.message:hover {
  background: #ccc;
  cursor: pointer;
}
.message .subject {
  padding-top: 10px;
  line-height: 0;
  font-weight: 900px;
  font-size: 16px;
  color: #cd1b4e;
}
.message .sender {
  font-size: 12px;
  color: gray;
}
.message-text {
  /*line-height: 25%*/
}