.ReactModal__Content, .ReactModal__Content--after-open {
  width: 600px;
  height: 740px;
  margin: 0 auto;
}

.modal-login-button {
  border-style: none;
  background-color: #cd1b4e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px !important;
  margin-top: 10px;
}

.modal-rent-it-button {
	margin: 0 auto !important;
	width: 50%;
}

#product-preview-button-not-logged-in {
	margin: 0 auto !important;
	width: 42%;
}