#profile-items {
  margin-top: 80px;
}

#profile-products {
  margin-top: 80px !important;
}

#profile h3 {
  margin-top: 0px;
}

a.nostyle{
  color:inherit;
  text-decoration:none;
  padding:0;
  margin:0;
}
div.profileCard{
  /*position:relative;*/
  /*display: inline-block;*/
  /*vertical-align: top;*/
  /*float: left;*/
  margin: 80px 0 0 20px;
  height:350px;
  width:400px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(0,0,0,0.7);
  /*margin-top: 50px !important;*/
  /*box-shadow:0px -1px 3px rgba(0,0,0,0.1),*/
        /*0px 2px 6px rgba(0,0,0,0.5);*/
  border-radius:6px;
  /*margin:10% auto;*/
  overflow:hidden;
  z-index:100;
  line-height: 120%
}
div.profileCard div.coverphoto{
  width:100%;
  height:100px;
  background:url('https://wearetheryan.files.wordpress.com/2015/01/crow-sunrise.jpeg');
  background-size: 180%;
  background-position: center;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  /*border-bottom:1px solid rgba(0,0,0,0.1);*/
  box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
        1px 0px 2px rgba(255,255,255,0.7);
  z-index:99;
}
div.profileCard div.left_col, div.profileCard div.right_col{
  float:left;
  height:80%;
}
div.profileCard div.left_col{
  width:40%;
  padding-top:85px;
  box-sizing:border-box;
}
div.profileCard div.right_col{
  width:60%;
  background:rgba(245,245,245,1);
  border-left:1px solid rgba(230,230,230,1);
  box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
  margin-left:-1px;
  border-bottom-right-radius:5px;
}
div.profileCard img.profile_picture{
  width:110px;
  height:110px;
  background:rgba(255,255,255,1);
  position:absolute;
  top:125px;
  left:60px;
  border-radius:100% !important;
  /*background-image: url('darthvader.jpg');*/
  /*http://cache.spreadshirt.net/Public/Common/images/profile-pic-placeholder_130x130.png*/
  /*background-size:100% 100%;*/
  padding:5px;
  border:1px solid rgba(255,255,255,1)
}
div.profileCard div.right_col h2.name{
  font-size:30px;
  font-weight:300;
  color: rgba(30,30,30,1);
  padding:0;
  margin:20px 10px 5px 30px;
}
div.profileCard div.right_col h3.location{
  font-size:15px;
  font-weight:300;
  color:rgba(170,170,170,1);
  padding:0;
  margin:-5px 10px 10px 30px;
}
div.profileCard ul.contact_information{
  margin-top:20px;
  padding-left:30px;
  list-style-type:none;
}
div.profileCard ul.contact_information li{
  height:25px;
  width:180px;
  line-height:25px;
  font-weight:300;
  font-size:12px;
  color:rgba(140,140,140,1);
  text-shadow:1px 1px 1px rgba(255,255,255,0.8);
  padding:5px 0px;
  background-repeat:no-repeat;
  background-size:18px 18px;
  /*border-bottom:1px solid rgba(0,0,0,0.1);*/
  /*box-shadow:0px 1px 1px rgba(255,255,255,0.6);*/
  cursor:default;
}
div.profileCard ul.contact_information li:before{
  content:"";
  width:25px;
  height:25px;
  display:block;
  float:left;
  background-position:center;
  background-size:18px 18px;
  background-repeat:no-repeat;
  margin-right:5px;
  opacity:0.7;
}
div.profileCard ul.contact_information li:hover:before{
  opacity:1;
}
div.profileCard ul.contact_information li.website:before{
  background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
}
div.profileCard ul.contact_information li.mail:before{
  background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
}
div.profileCard ul.contact_information li.phone:before{
  background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
}
div.profileCard div.aboutMe {
  margin:15px 0px 0px 10px;
  font-weight:300;
  font-size:14px;
  padding: 0 5px;
  color:rgba(30,30,30,1);
}
div.profileCard div.follow_count{
  font-weight:400;
  font-size:25px;
  color:rgba(140,140,140,1);
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;

  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 0;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

.profile-card-review-num {
  text-align: center;
  font-size: 10pt;
  margin-bottom: 40px;
}















@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip0057 {
  top: 40px;
  font-family: 'Raleway', Arial, sans-serif;
  position: absolute;
  /*float: left;*/
  overflow: hidden;
  margin: 10px 1%;
  min-width: 380px;
  max-width: 480px;
  width: 100%;
  background: #ffffff;
  color: #000000;
}
figure.snip0057 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
figure.snip0057 .image {
  width: 50%;
  overflow: hidden;
  z-index: 1;
  -webkit-transform: skewX(-15deg);
  transform: skewX(-15deg);
}
figure.snip0057 .image img {
  position: relative;
  display: block;
  left: -15%;
  z-index: 1;
  -webkit-transform: skew(15deg);
  transform: skew(15deg);
}
figure.snip0057:before {
  position: absolute;
  content: '';
  height: 100%;
  width: 45%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: skewX(-17deg);
  transform: skewX(-17deg);
  -webkit-box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
  box-shadow: 15px 0px 25px rgba(0, 0, 0, 0.7);
}
figure.snip0057 figcaption {
  padding: 20px 30px 20px 20px;
  position: absolute;
  right: 0;
  bottom: 10px;
  width: 50%;
}
figure.snip0057 figcaption h2,
figure.snip0057 figcaption p {
  margin: 0;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
figure.snip0057 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.snip0057 figcaption h5 {
  text-align: center;
}
figure.snip0057 figcaption h5:last-child {
  margin-bottom: 20px;
}

figure.snip0057 figcaption h2 span {
  font-weight: 800;
}
figure.snip0057 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}
figure.snip0057 figcaption .icons {
  width: 100%;
  text-align: right;
}
figure.snip0057 figcaption .icons i {
  font-size: 16px;
  padding: 5px;
  top: -40%;
  color: black;
  /*opacity: 0;*/
}
figure.snip0057 figcaption a {
  opacity: 0.3;
}
figure.snip0057 figcaption a:hover {
  opacity: 0.8;
}
figure.snip0057 .position {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 15px 30px;
  font-size: 0.9em;
  opacity: 1;
  font-style: italic;
  color: #ffffff;
  background: #000000;
}
figure.snip0057.blue .position {
  background: #20638f;
}
figure.snip0057.red .position {
  background: #CD1B4E;
}
figure.snip0057.yellow .position {
  background: #bf6516;
}
/*figure.snip0057:hover figcaption,
figure.snip0057.hover figcaption {
  bottom: 40px;
}*/
/*figure.snip0057:hover .icons i,
figure.snip0057.hover .icons i {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}*/
/*figure.snip0057:hover:before,
figure.snip0057.hover:before {
  -webkit-animation: shadow 0.6s ease-in-out;
  animation: shadow 0.6s ease-in-out;
}*/
@-webkit-keyframes shadow {
  0% {
    left: 0px;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 0px;
  }
}
@keyframes shadow {
  0% {
    left: 0px;
  }
  50% {
    left: -5px;
  }
  100% {
    left: 0px;
  }
}
