.splash-image {
  margin-bottom: 25px;
  margin-top: -2%;
  width: 100%;
}

/* IN SEARCH COMPONENT */
.landing-search {
  margin: 0 auto;
}

.landing-button {
  background-color: #cd1b4e;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.search {
  width: 500px;
  position: relative;
  margin-top: -80%;
  display: inline-block;
}

#search-input {
  /*float: left;*/
  height: 34px;
  width: 500px;
  border: 3px solid #cd1b4e;
  padding: 5px;
  border-radius: 5px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;  
  outline: none;
  color: #9DBFAF;
}

#search-input:focus{
  color: #00B4CC;
}

#search-button {
  position: absolute;  
  /*right: 0%;*/
  width: 34px;
  height: 34px;
  border: 1px solid #cd1b4e;
  background: #cd1b4e;
  text-align: center;
  color: #fff;
  border-radius: 5px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}