.landing-form {
  text-align: center;
  margin-top: -35%;
  margin-bottom: 33%;
  z-index: 1000;
}

.glyphicon-log-in {
  padding-right: 6px;
}

.first-name {
  margin-right: 5px; 
  display: inline-block;
  float: left;
}

.product-preview {
  text-align: center;
}

.product-image {
  width: 40%;
  height: 40%;
}

.modal-header {
  color: #cd1b4e;
}

#error-message span {
  color: red;
}

input.close-button {
  float: right;
  vertical-align: middle;
  text-align: center;
}

.ReactModal__Content, .ReactModal__Content--after-open {
  width: 600px;
  height: 740px;
  margin: 0 auto;
}

.landing-input {
  height: 56px;
  text-align: center;
}

.password-input {
  width: 313px;
}

.username-input {
  width: 190px;
}

.email-input {
  width: 313px;
}

.address-input {
  width: 313px;
}

.city-input {
  width: 200px;
  display: inline-block;
  float: left;
}

.state-input {
  width: 150px;
  display: inline-block;
  float: left;
}

.zipcode-input {
  width:150px;
}

.phone-input {
  width: 313px;
}

.modal-login-button {
  border-style: none;
  background-color: #cd1b4e;
  color: white;
  padding: 10px 15px;
  border-radius: 5px !important;
  margin-top: 10px;
}