@import "app/category-filters";
@import "app/create-account-modal";
@import "app/griddle";
@import "app/landing-page";
@import "app/marketplace";
@import "app/material-icons";
@import "app/message-inbox";
@import "app/modals";
@import "app/navbar";
@import "app/product-listing";
@import "app/product-preview-modal";
@import "app/profile-card";
@import "app/search-bar";
@import "app/slick";
@import "app/star-rating";
@import "app/status-bar";
@import "app/start-sharing-button";
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900);

$font-stack: 'Raleway', sans-serif;
$fuschia: #cd1b4e;
$lightGrey: #ebebeb;

* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  border-radius: 0 !important;
}

html,
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: $lightGrey;
  /*background: #ecfafb;*/
}

#app, #profile {
  min-height: 100%;
  position: relative;
}

.center {
  text-align: center;
}

.white {
  color: white;
}

.footer {
  /*text-align: center;*/
  /*margin: auto;*/
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  /*width: 100px;*/
  top: 100%;
  /*background: white;*/
}

#landing {
}
