$font-stack: Arial, sans-serif;
$primaryColor: white;

* {
  border-radius: 0 !important;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin-top: -37px;
  height: 100px;
}

.navbar {
  background-color: black;
  color: white;
}

.splash-image {
  margin-bottom: 25px;
  margin-top: -2%;
  width: 100%;
}

.landing-form {
  text-align: center;
  margin-top: -35%;
  margin-bottom: 33%;
  z-index: 1000;
}

input.placeholder {
  text-align: center;
}

.landing-input {
  height: 56px;
  text-align: center;
}

.landing-button {
  background-color: #cd1b4e;
  border: none;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.product {
  text-align: center;
}

.footer {
  text-align: center;
}

.product p {
  line-height: 75%;
}


/*-----------------
  MESSAGE INBOX
-----------------*/

#messagebox {
  position: absolute;
  left: 0px;
  width: 400px;
  border: 2px solid;
  background: white;
}
#messagebox-header {
  border-bottom: 1px solid black;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #555;
  font-size: 16px;
  background-color: black;
}
#inbox,
#outbox {
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
  /*background-color: white;*/
  /*border: 1px solid #aaa;*/
  border-top-left-radius: 50px;
}
#inbox {
  border-right: 1px solid white;
}
#inbox:hover,
#outbox:hover {
  cursor: pointer;
}
#inbox.current,
#outbox.current {
  color: white;
}
.message {
  padding: 5px 20px;
  border-bottom: solid 1px #aaa;
}
.message:hover {
  background: #ccc;
  cursor: pointer;
}
.message .subject {
  padding-top: 10px;
  line-height: 0;
  font-weight: 900px;
  font-size: 16px;
  color: #cd1b4e;
}
.message .sender {
  font-size: 12px;
  color: gray;
}
.message-text {
  /*line-height: 25%*/
}

/*.inbox {*/
  /*width: 50%;*/
/*}*/
.search {
  width: 100%;
  position: relative;
  margin-top: -58%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #cd1b4e;
  padding: 5px;
  border-radius: 5px !important;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: 0%;
  width: 40px;
  height: 36px;
  border: 1px solid #cd1b4e;
  background: #cd1b4e;
  text-align: center;
  color: #fff;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*-----------------
  PROFILE CARD
-----------------*/

a.nostyle{
  color:inherit;
  text-decoration:none;
  padding:0;
  margin:0;
}
div.portfoliocard{
  position:relative;
  height:350px;
  width:400px;
  background:rgba(255,255,255,1);
  border:1px solid rgba(0,0,0,0.7);
  box-shadow:0px -1px 3px rgba(0,0,0,0.1),
        0px 2px 6px rgba(0,0,0,0.5);
  border-radius:6px;
  /*margin:10% auto;*/
  overflow:hidden;
  z-index:100;
  line-height: 120%
}
div.portfoliocard div.coverphoto{
  width:100%;
  height:100px;
  background:url('https://wearetheryan.files.wordpress.com/2015/01/crow-sunrise.jpeg');
  background-position: center;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  /*border-bottom:1px solid rgba(0,0,0,0.1);*/
  box-shadow:inset 0px 3px 20px rgba(255,255,255,0.3),
        1px 0px 2px rgba(255,255,255,0.7);
  z-index:99;
}
div.portfoliocard div.left_col, div.portfoliocard div.right_col{
  float:left;
  height:340px;
}
div.portfoliocard div.left_col{
  width:40%;
  padding-top:85px;
  box-sizing:border-box;
}
div.portfoliocard div.right_col{
  width:60%;
  background:rgba(245,245,245,1);
  border-left:1px solid rgba(230,230,230,1);
  box-shadow:inset 0px 1px 1px rgba(255,255,255,0.7);
  margin-left:-1px;
  border-bottom-right-radius:5px;
}
div.portfoliocard div.profile_picture{
  width:110px;
  height:110px;
  background:rgba(255,255,255,1);
  position:absolute;
  top:65px;
  left:25px;
  border-radius:100% !important;
  background-image: url('http://cache.spreadshirt.net/Public/Common/images/profile-pic-placeholder_130x130.png');
  background-size:100% 100%;
  padding:7px;
  border:4px solid rgba(255,255,255,1)
}
div.portfoliocard div.right_col h2.name{
  font-size:30px;
  font-weight:300;
  color: rgba(30,30,30,1);
  padding:0;
  margin:20px 10px 5px 30px;
}
div.portfoliocard div.right_col h3.location{
  font-size:15px;
  font-weight:300;
  color:rgba(170,170,170,1);
  padding:0;
  margin:-5px 10px 10px 30px;
}
div.portfoliocard ul.contact_information{
  margin-top:20px;
  padding-left:30px;
  list-style-type:none;
}
div.portfoliocard ul.contact_information li{
  height:25px;
  width:180px;
  line-height:25px;
  font-weight:300;
  font-size:15px;
  color:rgba(140,140,140,1);
  text-shadow:1px 1px 1px rgba(255,255,255,0.8);
  padding:5px 0px;
  background-repeat:no-repeat;
  background-size:18px 18px;
  /*border-bottom:1px solid rgba(0,0,0,0.1);*/
  box-shadow:0px 1px 1px rgba(255,255,255,0.6);
  cursor:default;
}
div.portfoliocard ul.contact_information li:before{
  content:"";
  width:25px;
  height:25px;
  display:block;
  float:left;
  background-position:center;
  background-size:18px 18px;
  background-repeat:no-repeat;
  margin-right:5px;
  opacity:0.7;
}
div.portfoliocard ul.contact_information li:hover:before{
  opacity:1;
}
div.portfoliocard ul.contact_information li.work:before{
  background-image: url('http://schulzmarcel.de/x/icons/case_24.png');
}
div.portfoliocard ul.contact_information li.website:before{
  background-image: url('http://schulzmarcel.de/x/icons/globe_24.png');
}
div.portfoliocard ul.contact_information li.mail:before{
  background-image: url('http://schulzmarcel.de/x/icons/paper_plane_24.png');
}
div.portfoliocard ul.contact_information li.phone:before{
  background-image: url('http://schulzmarcel.de/x/icons/phone_24.png');
}
div.portfoliocard ul.contact_information li.resume:before{
  background-image: url('http://schulzmarcel.de/x/icons/inbox_24.png');
}
div.portfoliocard div.aboutMe {
  margin:15px 0px 0px 10px;
  font-weight:300;
  font-size:16px;
  color:rgba(30,30,30,1);
}
div.portfoliocard div.follow_count{
  font-weight:400;
  font-size:25px;
  color:rgba(140,140,140,1);
}

.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 20px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  &-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  &-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

