$font-stack: Arial, sans-serif;
$primaryColor: white;

* {
  border-radius: 0 !important;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.logo {
  margin-top: -37px;
  height: 100px;
}

.navbar {
  background-color: black;
  color: white;
}

.splash-image {
  margin-bottom: 25px;
  margin-top: -2%;
  width: 100%;
}

.landing-form {
  text-align: center;
  margin-top: -35%;
  margin-bottom: 33%;
  z-index: 1000;
}

input.placeholder {
  text-align: center;
}

.landing-input {
  height: 56px;
  text-align: center;
}

.landing-button {
  background-color: #cd1b4e;
  border: none;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.product {
  text-align: center;
}

.footer {
  text-align: center;
}

.product p {
  line-height: 75%;
}


/*-----------------
  MESSAGE INBOX
-----------------*/
#messagebox {
  position: absolute;
  right: 0px;
  width: 400px;
  border: 2px solid;
  background: white;
}
#messagebox-header {
  border-bottom: 1px solid black;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #555;
  font-size: 16px;
  background-color: black;
}
#inbox,
#outbox {
  text-align: center;
  height: 100%;
  margin-bottom: 20px;
  /*background-color: white;*/
  /*border: 1px solid #aaa;*/
  border-top-left-radius: 50px;
}
#inbox {
  border-right: 1px solid white;
}
#inbox:hover,
#outbox:hover {
  cursor: pointer;
}
#inbox.current,
#outbox.current {
  color: white;
}
.message {
  padding: 5px 20px;
  border-bottom: solid 1px #aaa;
}
.message:hover {
  background: #ccc;
  cursor: pointer;
}
.message .subject {
  padding-top: 10px;
  line-height: 0;
  font-weight: 900px;
  font-size: 16px;
  color: #cd1b4e;
}
.message .sender {
  font-size: 12px;
  color: gray;
}
.message-text {
  /*line-height: 25%*/
}

/*.inbox {*/
  /*width: 50%;*/
/*}*/
.search {
  width: 100%;
  position: relative;
  margin-top: -58%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #cd1b4e;
  padding: 5px;
  border-radius: 5px !important;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: 0%;
  width: 40px;
  height: 36px;
  border: 1px solid #cd1b4e;
  background: #cd1b4e;
  text-align: center;
  color: #fff;
  border-radius: 5px !important;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
